In [58]:
import pandas as pd
import numpy as np
#import matplotlip as mp

In [59]:
wage = pd.read_excel('C:/Users/joyce/Downloads/sts_colb_q_page_spreadsheet.xlsx', sheet_name = 'Sheet 1', skiprows = 10)
#display(wage)

C:\Users\joyce\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [60]:
residencial = pd.read_excel('C:/Users/joyce/Downloads/tipsna50_page_spreadsheet.xlsx', sheet_name = 'Sheet 1', skiprows = 10)
#display(wage)

C:\Users\joyce\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [61]:
wage.head(20)

,TIME,2020-Q4,Unnamed: 2,2021-Q1,Unnamed: 4,2021-Q2,Unnamed: 6,2021-Q3,Unnamed: 8,2021-Q4,...,2022-Q1,Unnamed: 12,2022-Q2,Unnamed: 14,2022-Q3,Unnamed: 16,2022-Q4,Unnamed: 18,2023-Q1,Unnamed: 20
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),133.8,NaN,119.6,NaN,131.4,NaN,126.6,NaN,141.9,...,130,NaN,142.7,NaN,136.5,NaN,151.1,NaN,:,NaN
2,European Union - 28 countries (2013-2020),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
3,Euro area – 20 countries (from 2023),130,NaN,115.4,NaN,127.6,NaN,122.9,NaN,137.4,...,124.9,NaN,137.5,NaN,131.4,NaN,145.1,NaN,:,NaN
4,Euro area - 19 countries (2015-2022),130,NaN,115.4,NaN,127.6,NaN,122.9,NaN,137.5,...,124.9,NaN,137.5,NaN,131.3,NaN,145.1,NaN,:,NaN
5,Belgium,120.9,NaN,112.8,NaN,127.3,NaN,105.6,NaN,126.2,...,122.2,p,137.8,p,115.3,p,138.8,p,:,NaN
6,Bulgaria,159.2,NaN,131,p,142.4,p,144.5,p,153.4,...,139.4,p,150.5,p,154.6,p,162.5,p,:,NaN
7,Czechia,143,NaN,119.5,NaN,134.7,NaN,138.4,NaN,145.3,...,129.3,NaN,146.5,NaN,150.4,NaN,158.3,NaN,:,NaN
8,Denmark,156.2,NaN,133.7,NaN,145.4,NaN,135.5,NaN,169.4,...,145.7,p,155.1,p,144.9,p,180.6,p,:,NaN
9,Germany (until 1990 former territory of the FRG),133.9,NaN,115.9,NaN,129.9,NaN,131,NaN,139.5,...,123.3,NaN,136.5,p,138.2,p,144.4,p,:,NaN
10,Estonia,141.1,NaN,135.5,NaN,151.7,NaN,163.5,NaN,170.9,...,164,NaN,178.3,NaN,185,NaN,191.8,NaN,:,NaN
11,Ireland,175,NaN,152.5,NaN,146,NaN,183,NaN,214.4,...,203.9,NaN,217,NaN,227.2,NaN,222.5,p,:,NaN
12,Greece,127.6,NaN,94.9,NaN,95.9,NaN,100.1,NaN,115,...,84.9,NaN,111.2,NaN,108,NaN,125.6,NaN,:,NaN
13,Spain,122.6,NaN,99.1,NaN,112.6,NaN,105.9,NaN,119.7,...,105.9,NaN,120.6,NaN,112.9,p,129.5,p,:,NaN
14,France,127.2,p,123,p,123.7,p,117.4,p,133.9,...,129.8,p,130.2,p,122.8,p,140.3,p,:,NaN
15,Croatia,121.8,NaN,122.5,NaN,123.8,NaN,126,NaN,127.1,...,131.9,NaN,134.1,NaN,136.7,NaN,141.4,NaN,:,NaN
16,Italy,124.8,NaN,106.1,NaN,123.7,NaN,118.1,NaN,145.7,...,129,NaN,147.4,NaN,133.9,NaN,161.6,NaN,:,NaN
17,Cyprus,197.9,NaN,172.7,NaN,181.4,NaN,178.4,NaN,208,...,186.7,p,191.2,p,187.5,p,216.9,p,:,NaN
18,Latvia,149.7,NaN,132.2,p,154.7,p,172,p,159.2,...,144.1,e,162.9,e,174.4,e,167.6,e,:,NaN
19,Lithuania,155.1,NaN,144.4,NaN,164.9,NaN,172.1,NaN,172.1,...,163.3,NaN,175.7,NaN,177.6,NaN,177.5,NaN,:,NaN

In [62]:
residencial.head()

,Belgium,5.9,Unnamed: 2,5.4,Unnamed: 4,5.6,Unnamed: 6,5.2,Unnamed: 8,5.3,...,5.9.3,Unnamed: 48,6.1.2,Unnamed: 50,6.1.3,p,6.3.1,p.1,6.3.2,p.2
0,Bulgaria,1.4,NaN,0.4,NaN,0.8,NaN,1.2,NaN,1.5,...,2.7,NaN,2.8,NaN,2.9,NaN,2.8,NaN,2.5,p
1,Czechia,3.2,NaN,3.6,NaN,3.8,NaN,4.2,NaN,4.2,...,4.3,NaN,4.4,NaN,4.6,NaN,4.7,NaN,4.8,NaN
2,Denmark,3.8,NaN,3.9,NaN,4.2,NaN,4.2,NaN,4.3,...,4.8,NaN,5.2,NaN,5.7,NaN,6.0,NaN,6.2,NaN
3,Germany (until 1990 former territory of the FRG),7.6,NaN,7.5,NaN,7.3,NaN,7.2,NaN,7.1,...,6.3,NaN,6.4,p,7.0,p,7.2,p,7.6,p
4,Estonia,2.6,NaN,2.9,NaN,3.1,NaN,2.6,NaN,2.5,...,4.5,NaN,4.9,NaN,5.4,NaN,4.9,NaN,5.2,NaN

In [63]:
wage.tail(20)

,TIME,2020-Q4,Unnamed: 2,2021-Q1,Unnamed: 4,2021-Q2,Unnamed: 6,2021-Q3,Unnamed: 8,2021-Q4,...,2022-Q1,Unnamed: 12,2022-Q2,Unnamed: 14,2022-Q3,Unnamed: 16,2022-Q4,Unnamed: 18,2023-Q1,Unnamed: 20
28,Slovenia,121.8,NaN,120.7,NaN,125,NaN,126.7,NaN,131.2,...,129,NaN,133.9,NaN,135,NaN,141.7,NaN,:,NaN
29,Slovakia,140.6,NaN,123.7,NaN,133.9,NaN,140.3,NaN,142.5,...,123.2,NaN,129.5,NaN,132.4,NaN,138.9,NaN,128.8,p
30,Finland,130.6,NaN,114.2,NaN,134.2,NaN,134.1,NaN,136.4,...,122.9,NaN,141.8,NaN,144.7,NaN,138.6,NaN,127.7,NaN
31,Sweden,134.1,e,129.7,e,134,e,121.2,e,142.7,...,140,e,153.7,e,138.2,e,157.4,e,:,NaN
32,Iceland,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
33,Norway,138.6,p,124.2,p,160.2,p,132.6,p,148.5,...,132.4,p,176.1,p,143.3,p,160.1,p,:,NaN
34,Switzerland,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
35,United Kingdom,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
36,Montenegro,102.4,NaN,105.6,NaN,105.7,NaN,107.4,NaN,109.7,...,120.7,NaN,124.2,NaN,126.3,NaN,126.3,NaN,:,NaN
37,North Macedonia,138.8,NaN,135.5,NaN,141.2,NaN,145.2,NaN,149.6,...,147.1,NaN,161.6,NaN,167.3,NaN,176.1,NaN,:,NaN
38,Albania,132.7,NaN,140,NaN,141.2,NaN,140.1,NaN,143.7,...,160.1,NaN,160.5,NaN,165.7,NaN,168.7,NaN,:,NaN
39,Serbia,132.8,NaN,131.8,NaN,135.8,NaN,137.4,NaN,150.9,...,147.2,NaN,152.7,NaN,155.1,NaN,170.2,NaN,:,NaN
40,Türkiye,187.5,NaN,199.8,NaN,225.3,NaN,244.5,NaN,261.2,...,303.7,NaN,343.7,NaN,464.7,NaN,513.9,NaN,:,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,c,confidential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,e,estimated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,p,provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
wage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIME         47 non-null     object
 1   2020-Q4      44 non-null     object
 2   Unnamed: 2   4 non-null      object
 3   2021-Q1      40 non-null     object
 4   Unnamed: 4   7 non-null      object
 5   2021-Q2      40 non-null     object
 6   Unnamed: 6   7 non-null      object
 7   2021-Q3      40 non-null     object
 8   Unnamed: 8   7 non-null      object
 9   2021-Q4      40 non-null     object
 10  Unnamed: 10  8 non-null      object
 11  2022-Q1      40 non-null     object
 12  Unnamed: 12  10 non-null     object
 13  2022-Q2      40 non-null     object
 14  Unnamed: 14  11 non-null     object
 15  2022-Q3      40 non-null     object
 16  Unnamed: 16  13 non-null     object
 17  2022-Q4      40 non-null     object
 18  Unnamed: 18  14 non-null     object
 19  2023-Q1      40 non-null     object
 20  Unnamed: 20  2 non-null      object
dtypes: object(21)
memory usage: 8.0+ KB

In [65]:
# Deleting the columns I dont need, including quarter 1 in 2023 because there is no info about it.
wage = wage.drop(['Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 
          'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 18', 'Unnamed: 20', '2023-Q1'], axis = 1)

In [66]:
display(wage)

,TIME,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),133.8,119.6,131.4,126.6,141.9,130,142.7,136.5,151.1
2,European Union - 28 countries (2013-2020),:,:,:,:,:,:,:,:,:
3,Euro area – 20 countries (from 2023),130,115.4,127.6,122.9,137.4,124.9,137.5,131.4,145.1
4,Euro area - 19 countries (2015-2022),130,115.4,127.6,122.9,137.5,124.9,137.5,131.3,145.1
5,Belgium,120.9,112.8,127.3,105.6,126.2,122.2,137.8,115.3,138.8
6,Bulgaria,159.2,131,142.4,144.5,153.4,139.4,150.5,154.6,162.5
7,Czechia,143,119.5,134.7,138.4,145.3,129.3,146.5,150.4,158.3
8,Denmark,156.2,133.7,145.4,135.5,169.4,145.7,155.1,144.9,180.6
9,Germany (until 1990 former territory of the FRG),133.9,115.9,129.9,131,139.5,123.3,136.5,138.2,144.4
10,Estonia,141.1,135.5,151.7,163.5,170.9,164,178.3,185,191.8
11,Ireland,175,152.5,146,183,214.4,203.9,217,227.2,222.5
12,Greece,127.6,94.9,95.9,100.1,115,84.9,111.2,108,125.6
13,Spain,122.6,99.1,112.6,105.9,119.7,105.9,120.6,112.9,129.5
14,France,127.2,123,123.7,117.4,133.9,129.8,130.2,122.8,140.3
15,Croatia,121.8,122.5,123.8,126,127.1,131.9,134.1,136.7,141.4
16,Italy,124.8,106.1,123.7,118.1,145.7,129,147.4,133.9,161.6
17,Cyprus,197.9,172.7,181.4,178.4,208,186.7,191.2,187.5,216.9
18,Latvia,149.7,132.2,154.7,172,159.2,144.1,162.9,174.4,167.6
19,Lithuania,155.1,144.4,164.9,172.1,172.1,163.3,175.7,177.6,177.5
20,Luxembourg,132.7,115.6,119.9,116.3,137.4,121.4,125.5,123.7,141.8
21,Hungary,243.6,234.3,256.7,256.5,287.2,284.2,315.4,323.5,346.7
22,Malta,122.8,126.6,124.5,126.9,131.9,133,135.8,138.8,142.1
23,Netherlands,121.6,121.1,145.3,121.1,127.9,126.1,151.9,129.5,:
24,Austria,152.9,109.1,140.8,134.9,161.1,118,150.8,142.7,170.4
25,Poland,152.3,145.5,155.3,158.2,166.4,166.9,177,179.7,186.9
26,Portugal,114.9,102.7,111.4,113.7,124.1,110.5,119.1,120.4,129.7
27,Romania,281.9,271.8,293.7,299.4,309.1,308.4,328.5,339,354.8
28,Slovenia,121.8,120.7,125,126.7,131.2,129,133.9,135,141.7
29,Slovakia,140.6,123.7,133.9,140.3,142.5,123.2,129.5,132.4,138.9
30,Finland,130.6,114.2,134.2,134.1,136.4,122.9,141.8,144.7,138.6
31,Sweden,134.1,129.7,134,121.2,142.7,140,153.7,138.2,157.4
32,Iceland,:,:,:,:,:,:,:,:,:
33,Norway,138.6,124.2,160.2,132.6,148.5,132.4,176.1,143.3,160.1
34,Switzerland,:,:,:,:,:,:,:,:,:
35,United Kingdom,:,:,:,:,:,:,:,:,:
36,Montenegro,102.4,105.6,105.7,107.4,109.7,120.7,124.2,126.3,126.3
37,North Macedonia,138.8,135.5,141.2,145.2,149.6,147.1,161.6,167.3,176.1
38,Albania,132.7,140,141.2,140.1,143.7,160.1,160.5,165.7,168.7
39,Serbia,132.8,131.8,135.8,137.4,150.9,147.2,152.7,155.1,170.2
40,Türkiye,187.5,199.8,225.3,244.5,261.2,303.7,343.7,464.7,513.9
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,c,confidential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,e,estimated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,p,provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
wage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TIME     47 non-null     object
 1   2020-Q4  44 non-null     object
 2   2021-Q1  40 non-null     object
 3   2021-Q2  40 non-null     object
 4   2021-Q3  40 non-null     object
 5   2021-Q4  40 non-null     object
 6   2022-Q1  40 non-null     object
 7   2022-Q2  40 non-null     object
 8   2022-Q3  40 non-null     object
 9   2022-Q4  40 non-null     object
dtypes: object(10)
memory usage: 3.9+ KB

In [68]:
print(wage.isna().sum())

TIME       1
2020-Q4    4
2021-Q1    8
2021-Q2    8
2021-Q3    8
2021-Q4    8
2022-Q1    8
2022-Q2    8
2022-Q3    8
2022-Q4    8
dtype: int64

In [71]:
wage = wage.drop([0,1,2,3,4,41,42,43,44,45,46,47, 32, 34, 35], axis = 0)

In [72]:
print(wage.isna().sum())

TIME       0
2020-Q4    0
2021-Q1    0
2021-Q2    0
2021-Q3    0
2021-Q4    0
2022-Q1    0
2022-Q2    0
2022-Q3    0
2022-Q4    0
dtype: int64